.component2-container {
  /* border: solid red; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 2rem 5rem;
  background-color: #1e0013;
  gap: 20px;
}
.component2-container > h2 {
  color: white;
  font-size: 40px;
  text-align: center;
      font-weight: bold;

}
.component2-content1 {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.component2-content1:nth-child(1) > img {
  width: 180px;
}
.component2-content1:nth-child(2) > img {
  width: 600px;
}
.component2-content1 > h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: start;
  color: white;
}
.component2-content1 > p {
  font-size: 16px;
  color: white;
}
.component2-content1 > a {
  padding: 10px 5px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: solid 2px transparent;
  text-decoration: none;
  transition: 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  &:hover {
    background-color: white;
    color: black;
    border: solid 2px black;
  }
}
.component2-content1Icon {
  font-size: 25px;
}
.component2-card {
  border: solid var(--customColor1) 1px;
  border-bottom: solid 5px var(--customColor1);
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  height: 200px;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.component2-card > img {
  width: 90px;
  height: 90px;
  object-fit: cover;
}
.component2-card > p {
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .component2-container {
    /* border: solid red; */
    flex-direction: column;
    padding: 1rem 1rem;
  }
  .component2-content1 {
    width: 100%;
    padding: 10px;
  }
  .component2-container > h2 {
    color: white;
    font-size: 30px;

  }
  .component2-content1 > h2 {
    font-weight: bold;
    text-align: start;
  }
  .component2-content1:nth-child(1) > img {
    width: 100px;
  }
  .component2-content1:nth-child(2) > img {
    width: 300px;
  }
}
