.aboutUs-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
}
.aboutUs-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.aboutUs-content > h2 {
  font-size: 40px;
  font-weight: bold;
  width: 80%;
}
.aboutUs-content:nth-child(1) > p {
  font-size: 16px;
  width: 80%;
  border-left: solid 4px var(--customColor1);
  padding-left: 10px;
}
.aboutUs-content > img {
  width: 80%;
  object-fit: cover;
}

/* -----------------------------Form---------------------------------------- */
/* Container */
.contact-form {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  color: #333;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  width: 70%;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  /* color: var(--customColor1); */
}

/* Inputs & Textarea */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px 35px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--customColor1);
  box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.3);
}

/* Tick for valid fields */

.contact-form textarea:valid {
  border-color: #28a745;
}

/* Submit Button */
.submit-btn {
  width: 100%;
  padding: 12px;
  background: var(--customColor1);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  border: solid 2px transparent;
  font-weight: bold;
}

.submit-btn:hover {
  background: white;
  border: solid 2px var(--customColor1);
  color: var(--customColor1);
}
.policy-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 14px;
  margin-bottom: 15px;
}

.policy-checkbox input {
  margin-top: 4px;
  width: fit-content;
  transform: scale(1.2);
}

.policy-checkbox a {
  color: var(--customColor1);
  text-decoration: none;
}

.policy-checkbox a:hover {
  text-decoration: underline;
}

/* Disabled submit button style */
.submit-btn:disabled {
  background: var(--customColor1);
  cursor: not-allowed;
}
.submit-btn:disabled:hover {
  background: white;
  border: solid 2px var(--customColor1);
  color: var(--customColor1);
}
@media screen and (max-width: 768px) {
  .aboutUs-container {
    /* border: solid red; */
    flex-direction: column;
    padding: 15px;
  }
  .aboutUs-content {
  width: 100%;
}
.aboutUs-content > h2 {
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}
.aboutUs-content > img {
  width: 100%;
  object-fit: cover;
}
.aboutUs-content:nth-child(1) > p {
  font-size: 16px;
  width: 100%;
  border-left: solid 4px var(--customColor1);
  padding-left: 10px;
}
/* -----------------------------Form---------------------------------------- */
/* Container */
.contact-form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  color: #333;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
}
}
